body {
    background-image: url('C:\Users\zhaas\Downloads\download.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }


